# dependencies
node_modules

# build artifacts
*.css

# testing
coverage

# production
build
build.zip

# misc
.DS_Store
.env
npm-debug.log
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map
